<div class="main-content">
<section class="section">
   <div class="section-header">
      <h1>Nuevo Producto</h1>
   </div>
</section>
<div class="col-12 col-md-6 col-lg-6 ">
<div class="card col-12">
   Add an Item To <%= link_to title(@order), client_order_path(@order.client, @order) %> belonging to
   <%=link_to name(@order.client), @order.client%>
   <br><br>





   <%= form_with model: [@order, @ordered_product] do |f| %>
   Already Existing Product? Pick from these options
   
   <% products_array = @products.map { |product| [product.name, product.id] } %>
   <% products_array = [["Select One", 0]] + products_array %>
   <div class="form-group">
   <%= f.select :product_id , options_for_select(products_array), class: "form-control"%>
   </div>
   <br>
   If not, Create a new Product
   <br>
   <div class="form-group">
   <div class="hidden_field">
   
      Product Attributes:
      <br>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      <br>
      <%= f.label :price %>
      <%= f.number_field :price, class: "form-control" %>
      <br>
      <%= f.label :description %>
      <%= f.text_field :description,  rows: 10 %>
   </div>
   <br>
   Product Specific Attributes for this Order:
   <div class="form-group">
   <ul>
      <%= f.fields_for :specific do |addresses_form| %>
      <li>

        <%= addresses_form.label :quantity %>
        <%= addresses_form.number_field :quantity %>
 <br>
        <%= addresses_form.label :alterations %>
        <%= addresses_form.text_area :alterations %>

      </li>
      <% end %>
   </ul>
   </div>
   <%= f.submit 'Add Product' %>
   <% end %>
</div>
</div>
<%= javascript_pack_tag 'fadeIn' %>
<script>

</script>