<h3> This is an order for
   <%= link_to name(@client), @client %>
</h3>
<div class="main-content">
<section class="section">
   <div class="section-header">
      <h1>Detalle de la Orden</h1>
   </div>
</section>
<div class="col-12 col-md-12 col-lg-12">
   <div class="card">
      <div class="card-header">
         <%= link_to 'Add Item', new_order_ordered_product_path(@order) %>
      </div>
      <% if counter(@order) %>
      <b> The order contains the following items</b>
      <ul>
         <% @order.ordered_products.each do |item| %>
         <li>
            Name: <%= item.product.name %> <br>
            Status:  <%= item.status %> <br>
            Description : <%= item.product.description  %> <br>
            Alterations : <%= item.alterations  %> <br>
            Quantity : <%= item.quantity  %> <br>
            Unit Price: <%= item.product.price  %> <br>
            Total Price : <%= item.quantity * item.product.price  %> <br>
         </li>
         <% end %>
      </ul>
      <% else %>
      <b>There are no items yet in this order, Please add items or delete the order</b>
      <% end %>
      <%= link_to 'Delete Order' ,client_order_path(@client) , method: :delete, data: {confirm: "Are you sure?"} %> <br>
   </div>
</div>