<!DOCTYPE html>
<html>
  <head>
    <title>Printshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div id="app">
      <div class="main-wrapper">
        <div class="navbar-bg"></div>
        
        <div class="main-sidebar">
          <aside id="sidebar-wrapper">
            <div class="text-center">
              <%= image_tag "logo.svg" , size: 170 %>
            </div>
          
            <ul class="sidebar-menu">
              <li class="menu-header">Departments</li>
              
                <span class="nav-link">Design</span>
                <span class="nav-link">Production</span>
                <span class="nav-link">Flexo</span>
               
              </li>

              <li class="menu-header">Orders</li>
              
                <span class="nav-link">Active</span>
                <span class="nav-link">Completed</span>
                <span class="nav-link">Deliveried</span>
               
              </li>

               <li class="menu-header">Sales</li>
              
                <span class="nav-link">Order Creation</span>
                <span class="nav-link">Billing Status</span>
                
               
              </li>
              
          </aside>
        </div>

    <%= yield %>

    </div>
  </div>


  </body>
</html>